# Byte-code files
*.pyc
__pycache__/

# Environment
.env
venv/
env/
.venv/      

# IDE specific files
.vscode/
.idea/          
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage

# Jupyter Notebook files
.ipynb_checkpoints/

# Database files
*.sqlite3     
*.db
db/            

# Logs
*.log
logs/

# Secret and configuration files 
config/secret.json 